@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');


:root {
    --background: #23A89E;
    --accent: #FADFDE;
    --font1: 'Oswald', sans-serif;
    --font2: 'Lato', sans-serif;
    /* box-sizing: border-box;  */
}

body {
    background-color: var(--background);
    margin-left: 10vh;
    margin-right: 10vh;
}

h1 {
    text-align: center;
    color: var(--accent);
    font-size: 2.5rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

/* img {
    width: 300px;
    width: 100%;
    height: auto;
    object-fit: scale-down;
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
} */

/* body {
    color: black;
    background-color: bisque;
} */

/* nav fron html css project */

.navbar {
    background: var(--background);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    color: var(--accent);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 2rem;
}

.fa-shop {
    margin-right: 0.5rem;
}

#cart {
    color: var(--accent);
    display: flex;
    align-items: center;
    text-decoration: none;
    /* font-family: var(--font1); */
    font-size: 2rem;
}

.fa-cart-shopping {
    margin-right: 0.5rem;
}

/* nav fron html css project */


/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar_container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.navbar_logo {
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
} */

/* h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}



section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
} */


/* section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
} */

article {
    position: relative;
}

article:hover {
    padding: 10px;
    border: 1px solid;
    transition: .4s;
}

section i {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    padding: 10px;
    cursor: pointer;
} */










/* test */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    height: 100vh;
    width: 100%;
    padding: 80px;
    background: rgb(192, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
} */
/* .heading{
    text-align: center;
    margin-bottom: 50px;
    font-size: 45px;
} */
#section{
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#card {
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    height: 1280px;
    background: #fff;
    box-shadow: 3px 3px 5px #000;
}

/* #title {
    text-align: center;
    color: red;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
} */

/* p {
    text-align: left;
    margin: 10px;
    padding: 10%;
} */

.img{
    width: 100%;
    height: 60%;
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #efefef;
    padding: 10px;
    cursor: pointer;
}
.img:hover img{
    transform: scale(1.1);
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}

#price_container {
    margin-top: 10px;
    margin-bottom: 0;
}

/* #price{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
/* .footer{
    text-align: center;
    padding: 10px;
    font-size: 20px;
} */

/* test */