@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');



:root {
    --background2: #23A89E;
    --background: #e3e6e2; 
    --accent: #918e8e;
    --accent2: #d9d9d9;
    --font1: 'Oswald', sans-serif;
    --font2: 'Lato', sans-serif;
    box-sizing: border-box; 
}

body {
    background-color: var(--background);
    margin-left: 10vh;
    margin-right: 10vh;
}

/* nav---------------------------------------------------------- */



.navbar {
    background: var(--accent2);
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    color: var(--accent);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 2rem;
}

.fa-shop {
    margin-right: 0.5rem;
}

#cartIcon {
    color: var(--accent);
    display: flex;
    align-items: center;
    text-decoration: none;    
}


.fa-cart-shopping {
    margin-right: 0.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px; 
    font-family: var(--font2);       
    width: 3.3rem;
    height: 3.3rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#quantityIcon {    
    position:absolute;  
    font-size: 1rem;
    font-weight: bold;
    top: -1rem;
    right: .8rem;
}

/* knapparnas utseende */
.navbar_links {
    color: var(--accent);
    background-color: var(--accent2);
    display: flex;
    align-items: center;    
    text-decoration: none;
    padding: 0 1rem;    
}

/* to top button position */
.navbar_button {
    padding: 0 1rem;
    
}

/* to top button design */
#myBtn {
    padding: 10px 20px;   
    border-color: var(--accent);
    border-style: solid;
    border-radius: 10px;
    background: var(--background);
    color: var(--accent);  
    font-family: var(--font2); 
    cursor: pointer;    
}

/* to top button changes color when cursor hovers */
#myBtn:hover{    
    color: var(--background);
    background-color: var(--accent);
} 

/* nav---------------------------------------------------------- */

/* Checout------------------------------------------------------ */

h1 {
  text-align: center;
  color: var(--accent);
  font-size: 3.5rem;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

#checkout{
  justify-content: center;
  display: flex;
  
}

#container {
  justify-content: center;
  align-items: center;  
  background: #fff;
  box-shadow: 3px 3px 5px #000;
  padding: 5px 20px 15px 20px;  
  border-radius: 10px;
  width: 30%;  
  padding: 5vh;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font1);
  color: var(--accent);
}

input {  
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    padding-right: 0px;
    border: 1px solid var(--accent);
    border-radius: 3px;
}



select{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content:center;

}




/* Checout------------------------------------------------------ */

/* Cart--------------------------------------------------------- */



#cart_lable {
  color: var(--accent);
  font-family: var(--font1);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

#cart {
  border-collapse: collapse;
  width: 100%;
}

#cart th, #cart td {
  border: 1px solid var(--accent);
  padding: 8px;

}

#table_img_container {
  background-color: #fff;
  box-shadow: 5px 5px 7px rgba(0,0,0,0.3);
  border: 5px solid #fff;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: 30px;
  overflow: hidden;

}

#table_img {
  width: 100%;
  flex-wrap: wrap;
  object-fit: scale-down;    
}

#removeFromCartBtn {
  
  color: var(--background2);
  background-color: var(--accent);    
  border-radius: 5px;
  color: white;
  
}

#removeFromCartBtn:hover {
  color: var(--background2);
  background-color: var(--accent);
  background-color: #ff0000;
  color: white;
}

#quantity {
  text-align: center;
  color: var(--accent);    
  font-family:var(--font1);
  font-size: 1.5rem;
  font-weight: 400;
}

#total {
  text-align: center;
  color: var(--accent);    
  font-family:var(--font1);
  font-size: 1.5rem;
  font-weight: 400;
}

#clearCart {
  color: var(--background2);
  background-color: var(--accent);    
  border-radius: 5px;
  color: white;
}

#clearCart:hover {
  color: var(--background2);
  background-color: var(--accent);
  background-color: #ff0000;
  color: white;
}

#placeOrder {
  color: var(--background2);
  background-color: var(--accent);    
  border-radius: 5px;
  color: white;
}

#placeOrder:hover:hover {
  color: var(--background2);
  background-color: var(--accent);
  background-color: #4CAF50;
  color: white;
}

#message {
  text-align: center;  
  font-size: 1.5rem;
  font-weight: 400;
}

/* Cart------------------------------------ */